<button type="button" class="btn btn-primary logoutBtn mt-2 px-3 py-2" (click)="logout()">Logout</button>
<div class='details'>
  <div class="container">
    <h2>Your Personal details</h2>
    <div class="row" *ngIf='details'>
      <div class="col-md">
        <h4>Name: <span>{{details.name}}</span></h4>
        <h4>Email: <span>{{details.email}}</span></h4>
        <h4>Gender: <span>{{details.gender}}</span></h4>
        <h4>City: <span>{{details.city}}</span></h4>
        <button type="button" class="btn btn-secondary ml-4 px-3" (click)='editDetails()'>Edit</button>
      </div>
      <div class="col-md">
        <h4>Phone: <span>{{details.phone}}</span></h4>
        <h4>Date of Birth: <span>{{details.date}}</span></h4>
        <h4>Address: <span>{{details.address1}}</span></h4>
        <h4>State: <span>{{details.state}}</span></h4>
      </div>
    </div>
    <div class="row" *ngIf='fbData'>
      <div class="col-md">
        <h4>Profile picture<img src="{{fbData.picture.data.url}}" alt=""></h4>
      </div>
      <div class="col-md">
        <h4>Facebook id.: <span>{{fbData.id}}</span></h4>
        <h4>First name: <span>{{fbData.first_name}}</span></h4>
        <h4>Last name: <span>{{fbData.last_name}}</span></h4>
      </div>
    </div>
  </div>
</div>