form{
    margin-top: 40px;
    background-color: rgb(10, 204, 10);
    padding:30px;
    border-radius: 10px;
}
input[type='radio']{
    margin:10px;
}
.error{
    color:red;
}
.hidden{
    display: none;
}